@model _3esiEmployeeSystemV1.Models.Employee.Compensation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Compensation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompensationType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompensationType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompensationComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompensationComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompensationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
