@model IEnumerable<_3esiEmployeeSystemV1.Models.Employee.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeritageCompany.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LegalCompany.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OverTimeStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnionStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentFullTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayRollNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeritageCompany.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalCompany.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OverTimeStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnionStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentFullTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayRollNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatusID })
        </td>
    </tr>
}

</table>
